@media only screen and (max-width: 1570px) {
    .contact-section .contact-container .contact-right form .fild-one {
        width: 300px !important;
    }
    .contact-section .contact-container .contact-right form .fild-two {
        width: 610px !important;
    }
    .contact-section .contact-container .contact-right form textarea {
        width: 610px !important;
    }
    .contact-section .contact-container .contact-right form .send-btn {
        width: 610px !important;
    }
} 
@media only screen and (max-width: 1400px) {
    .secound-section .container-box {
        grid-template-columns: 1fr 1fr !important;
    }
    .secound-section .three {
        margin-left: 50%;
    }
}
@media only screen and (max-width: 1350px) {
    .contact-section .contact-container .contact-right form .fild-one {
        width: 250px !important;
    }
    .contact-section .contact-container .contact-right form .fild-two {
        width: 505px !important;
    }
    .contact-section .contact-container .contact-right form textarea {
        width: 505px !important;
    }
    .contact-section .contact-container .contact-right form .send-btn {
        width: 505px !important;
    }
}
@media only screen and (max-width: 1120px) {
    .contact-section .contact-container .contact-right form .fild-one {
        width: 505px !important;
    }
}
@media only screen and (max-width: 1251px) {
    .contact-section .contact-container .contact-left {
        width: 90% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center!
        ;
    }
    .contact-section .contact-container .contact-right {
        width: 90% !important;
    }
    .contact-section .contact-container .contact-right form .fild-one {
        width: 49.5% !important;
    }
    .contact-section .contact-container .contact-right form .fild-two {
        width: 100% !important;
    }
    .contact-section .contact-container .contact-right form textarea {
        width: 100% !important;
    }
    .contact-section .contact-container .contact-right form .send-btn {
        width: 100% !important;
    }
    .contact-container {
        flex-direction: column !important;
    }
    .contact-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .contact-section .contact-container .contact-left {
        margin-left: 0% !important;
    }
    .contact-section .contact-container .contact-right {
        margin-right: 0% !important;
    }

    .fourth-section-container {
        flex-direction: column;
        justify-content: flex-start !important;
    }
    .fourth-section-container .right-part {
        margin-top: 70px;
        display: flex !important;
        flex-direction: column !important;
        margin-left: 0% !important;
    }

    .fourth-section-container .right-part h1 {
        display: flex;
        justify-content: center;
    }
    .fourth-section-container .right-part p {
        margin-left: 10% !important;
        text-align: center;
        margin-bottom: 50px;
    }
    .fourth-section-container img {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-right: 0%!important;
    }
}
@media only screen and (max-width: 1100px) {
    .third-section .client {
        grid-template-columns: 1fr 1fr !important;
    }
    .third-section .client .tre {
        margin-bottom: 40px !important;
        right: -60%;
    }
    .footer-section {
        grid-template-columns: 1fr 1fr !important;
    }
    .footer-section .right-part {
        margin-top: 0px !important;
    }
    .footer-section .left-part {
        margin-left: 0% !important;
    }

}
@media only screen and (max-width: 1251px) {
    .contact-section {
        margin-top: 200px !important;
    }
}
@media only screen and (max-width: 950px){
    .contact-section {
        margin-top: 1000px !important;
    }
    .fourth-section-container {
        height: 100vh !important;
    }
    .contact-section {
        margin-top: 200px !important;
    }
    section nav .container ul {
        display: none;
    }
    section nav .container .fas {
        display: block !important;
    }
    section nav .container img {
        width: 50px !important;
    }
    section .section {
        width: 75% !important;
    }
    section .section h1 {
        font-size: 35px !important;
    }
    section .section p {
        font-size: 14px !important;
    }
    section nav .container .fa-times {
        margin-top: 50px;
        position: absolute;
        right: 80px;
    }
    section nav .container ul {
        display: block;
        position: fixed !important;
        top: 0px !important;
        right: -100%;
        background: #2f3640;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.7s ease;
    }
    section nav .container ul li {
        font-size: 25px !important;
        margin-top: 40px !important;
        margin-right: 0 !important;
    }
    section nav .container ul li a {
        font-weight: bold !important;
    }
    .secound-section .container-box {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .secound-section .three {
        margin-left: 0%;
    }
    .secound-section .box {
        margin-top: 50px !important;
    }
    .secound-section .heading {
        margin-top: 50px !important;
    }
    .third-section h1 {
        padding-top: 50px !important;
    }
    .fourth-section-container img {
        width: 90% !important;
    }
    .fourth-section-container .right-part {
        margin-top: 50px !important;
    }
}
@media only screen and (max-width: 750px) {
    .footer-section {
        grid-template-columns: 1fr !important;
    }
    .footer-section .right-part {
        margin-top: 30px !important;
    }
    .third-section .client {
        grid-template-columns: 1fr!important;
    }
    .third-section .client .tre {
        right: 0%;
        margin-bottom: 50px !important;
    }
    .fourth-section-container .right-part p {
    width: 80%;
    
   
    }
}
@media only screen and (max-width: 560px) {
    section .section h1 {
        font-size: 30px !important;
    }
    .secound-section .heading {
        font-size: 35px !important;
    }
    .third-section h1 {
        font-size: 35px !important;
    }
    .fourth-section .heading {
        font-size: 35px !important;
    }
    .contact-section h1  {
        font-size: 35px !important;
    }
}
@media only screen and (max-width: 500px) {
    .secound-section .box  p br {
        display: none;
    }
    .secound-section .box  p {
        padding: 0px 20px !important;
    }
}
@media only screen and (max-width: 475px) {
    .contact-section .contact-container .contact-right form .fild-one {
        width: 100% !important;
    }
}
@media only screen and (max-width: 400px){
    section .section button {
        width: 100% !important;
    }
    .third-section .client .client-img-1 img {
        width: 300px !important;
    }
}
